
@model ChangePasswordModel

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .new-pass {
        display: block !important;
    }
    .newpassword-2nd-i.fa-eye-slash {       
        right: 14px;
        top: 20px !important;       
    }

    .cnfm-newpassword-2nd-i.fa-eye-slash {
        right: 14px;
        top: 80px !important;
    }
</style>

<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>OTP is sent successfully to your email. Please obtain the OTP to change your password</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="row">
    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <div class="form-container sign-in-container">
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @role = "form", @class = "forgot box", @id = "formOtpGenerate", @utocomplete = "off" }))
            {
                <h3>Change Password</h3>
                
                
                @Html.HiddenFor(model => model.Username)
                @Html.HiddenFor(model => model.Email)

                @Html.TextBoxFor(model => model.OTP, new { @placeholder = "OTP", @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.OTP)

                <div class="new-pass">
                    <div id="show_hide_password-1">
                        @Html.TextBoxFor(model => model.NewPassword, new { @placeholder = "New Password", @type = "password", @autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.NewPassword)
                        <a href="#"><i class="fa fa-eye-slash newpassword-2nd-i" aria-hidden="true"></i></a>
                    </div>
                    <div id="show_hide_password-2">
                        @Html.TextBoxFor(model => model.ConfirmPassword, new { @placeholder = "Confirm Password", @type = "password", @autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                        <a href="#"><i class="fa fa-eye-slash eye-second cnfm-newpassword-2nd-i" aria-hidden="true"></i></a>
                    </div>

                    <button type="submit" class="btn-login btn-teal btn-change-password">Change Password</button>
                </div>

            }
        </div>
    </div>
</div>


@section Scripts{
    <link href="~/css/login.css" rel="stylesheet" />
    <script src="~/js/accounts/accountManager.js"></script>
}